@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
         url('../fonts/FantasqueSansMono-Regular.woff') format('woff');
  }

body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-family: var(--font-monospace);
    font-size: var(--font-size-body);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#goon {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-l) var(--spacing-m) var(--spacing-m) var(--spacing-m);
    row-gap: var(--spacing-l);
    width: 20rem;
}

header {
    display: none;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: center;
    padding: var(--spacing-m) var(--spacing-m) 0 var(--spacing-m);
    position: absolute;
    top: 0;
    width: 100%;
    animation: fade 1s ease-in;
    font-family: 'Fantasque Sans Mono', sans-serif;
}

/* Time, Date, and Weather */

#date-time,
#weather { flex: 1 1 auto; }

#weather { text-align: right; }

#weather img {
    display: inline-flex;
    margin-right: var(--spacing-xs);
    width: 1.5rem;
}

#date,
#location {
    color: #4c4f69;
    font-weight: 700;
}

#time,
#details {
    color: #4c4f69;
    text-transform: capitalize;
}

#details {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.separator { margin: 0 var(--spacing-xs); }

aside {
    display: flex;
    justify-content: space-around;
}

aside img,
aside svg { height: 4.5rem; }

#search {
    display: flex;
    justify-content: center;
}

#search form {
    flex: 1 1 auto;
    width: 100%;
}

#search input {
    background-color: transparent;
    background-position: right 1.25rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--primary-font-color);
    font-family: 'Fantasque Sans Mono', sans-serif;
    line-height: 1.5;
    outline: 0.25rem solid transparent;
    padding: var(--spacing-m);
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    #search input {
        background-image: var(--svg-search-gray);
        border: 0.125rem solid hsl(var(--color-white-hsl) / 0.25);
    }
    
    #search input:hover { border-color: hsl(var(--color-white-hsl) / 0.5); }    

}

@media (prefers-color-scheme: light) {
    #weather img { filter: drop-shadow(0 0 0 hsl(var(--color-black-hsl) / 0.75)); }

    #search input {
        background-image: var(--svg-search-light-gray); 
        border: 0.125rem solid hsl(var(--color-black-hsl) / 0.25);
    } 

    #search input:hover { border-color: hsl(var(--color-black-hsl) / 0.5); }

}

#search input:focus {
    background-color: hsl(var(--color-white-hsl) / 0.025);
    border-color: rgba(186, 187, 241, 1);
    outline-color: rgba(186, 187, 241, 0.50);
    
}

.favicon {
    margin-right: var(--spacing-s);
    height: 1.2rem;
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
	        animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

input::-webkit-input-placeholder {
    text-align: right;
    color: #9CA0B0;
}

input::-moz-placeholder {
    text-align: right;
}

input:-ms-input-placeholder {
    text-align: right;
}

input::placeholder {
    text-align: right;
}

.autocomplete-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
  }
  
.suggestion-item {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #000; 
    padding: 10px; 
    margin: 5px; 
    font-family: 'Fantasque Sans Mono', sans-serif;
    font-size: 0.9rem;
    border-radius: 0.25rem;
  }

.suggestion-item:hover {
    background-color: rgba(114, 135, 253, 0.15);
}

/* Responsive Media Queries */

@media screen and (min-width: 48em) {
    header { display: flex; }
    
    #goon {
        padding: 0;
        width: 45rem; /* 720px */
    }

    aside img,
    aside svg { height: 7.5rem; }
}


